div(class="eea-tile")
    a(class="eea-tileInner test-class", title="${title}", href="${url}")
        div(class="eea-tileThumb")
            img(data-src="${thumbUrl}", alt="${title}" class="lazyLoad")
        div(class="eea-tileBody")
            // p(class="eea-tileUrl")${url}
            h4(class="eea-tileTitle") ${title}
            div(class="eea-tileDescription") ${long_description}
            div(class="eea-tileMetadata")
                span(class="eea-tileTypeSpan", title="${typeOfData}") ${typeOfData}
                time(class="eea-tileIssued", datetime="${year}") ${year}
                div(class="eea-tileType", title="${typeOfData}", style="background-image: url(${typeIcon})")
                    span(class="eea-tileTypeIcon, eea-tileType-${typeClass}", title="${typeOfData}") ${typeOfData}
