block title
    title!= head_title

block extrajavascripts
    if (js_resources.index_page)
        if renderJs && !debug_mode
            != renderJs('index_page')
        else
            each script in js_resources.index_page
                script(type='text/javascript', src=script)

block extrastyles
    if (css_resources.index_page)
        if renderStyles && !debug_mode
            - var css_render = renderStyles('index_page')
            - var only_css = css_render.match(/href\='([^\s]*)'\s/)[1]
            link(rel="preload" href=only_css as="style" onload="this.rel='stylesheet'" onerror="this.rel='stylesheet'")
            <noscript><link rel="stylesheet" href="#{only_css}" /></noscript>
        else
            each style in css_resources.index_page
                link(rel='stylesheet', href=style)

block content
    div(id="slider")

    h1!= site_title
    +download_data
    p!= site_description
    .facet-view-simple.pam

    div(class="visualization-info")
        h3 Data sources

        h3 Methodology behind the catalogue

        span The catalogue has been developed via extensive desk research and filtering of available literature.  The policy evaluations that have been considered as part of the catalogue originate from the following sources: EEA’s Policies and Measures (PaMs) database <a href='http://pam.apps.eea.europa.eu/'>http://pam.apps.eea.europa.eu/</a> , various European Commission Directorate General (DG) websites and publication lists, reports from the European Court of Auditors, reports from the OECD library,  several Horizon 2020 projects (<a href='http://climatechangemitigation.eu/about/related-eu-projects/carisma/'>CARISMA</a>,  <a href='https://epatee.eu/'>EPATEE</a>) and reports found as part of a Google search. Some key words that were used for this Google search include: ‘policy’, ‘evaluation’, ‘ex-post’, ‘ex-ante’, ‘cost-benefit analysis’ in combination with ‘environment’, ‘climate’, ‘Ministry’, ‘assessment’, ‘impact’, ‘water’, ‘waste’, etc. The search for evaluations conducted by national authorities was also conducted via relevant ministerial websites or publication portals.

        span In total, 1,556 documents were identified as potential policy evaluations. Each of these documents went through a filtering exercise to distinguish which would be included in the catalogue. The basis of selection was a set of criteria:
        ul(class="methodology_list1")
          li The document consists of an evaluation of a specific (or set of) policy measure(s) or regulation(s):
            ul(class="methodology_list2")
              li For the scope of this excercise, ‘policy’ has been defined as a law, regulation, procedure, administrative action, incentive, programme or strategy, implemented (or planned) by governments or institutions. Policy ‘evaluation’ has been defined as the exercise of evaluating the quality, benefits, worth and utility of a given policy, using various research methods and evaluation practices. This is achieved by investigating the content, outcome, implementation or impact of a policy.
              li Consequently, for the purpose of this catalogue, all literature that was included in the list of policy evaluations had to include both an ‘evaluation’ and a ‘policy’ element. Evaluations that looked at multiple policies or regulations were also taken into account in the analysis
              li Impact assessments of specific projects, typically infrastructure (e.g. roads) were excluded.
        li The date of publication is after 2002, unless the evaluation looks at less ‘traditional’ policies (i.e. energy and climate) that could provide a wider coverage of policy areas.
        li The evaluation targets policies that have a focus on the climate and/or the environment.
        li The geographic scope: EU, EEA or selected countries, ‘best-practice’ countries (i.e. the most active evaluators).
        li The document is (publicly) available, or, in some cases, expected to be published in the near future.