block title
    title!= head_title

block extrajavascripts
    if (js_resources.index_page)
        if renderJs && !debug_mode
            != renderJs('index_page')
        else
            each script in js_resources.index_page
                script(type='text/javascript', src=script)

block extrastyles
    if (css_resources.index_page)
        if renderStyles && !debug_mode
            - var css_render = renderStyles('index_page')
            - var only_css = css_render.match(/href\='([^\s]*)'\s/)[1]
            link(rel="preload" href=only_css as="style" onload="this.rel='stylesheet'" onerror="this.rel='stylesheet'")
            <noscript><link rel="stylesheet" href="#{only_css}" /></noscript>
        else
            each style in css_resources.index_page
                link(rel='stylesheet', href=style)

block content
    div(id="slider")

    h1!= site_title
    +download_data
    p!= site_description
    .facet-view-simple.pam

    div(class="visualization-info")
        h3 Methodology behind the catalogue

        span The catalogue has been developed via extensive desk research and filtering of available literature. The first step of the search process was a systematic scan of organisations’ websites who are active in publishing policy evaluations and various publication portals. For national evaluations, the first source was the EEA’s Policies and Measures (PaMs) database http://pam.apps.eea.europa.eu/ where existing evaluations on climate mitigation policies should be reported. Further, on the national level, organisations such as national ministries that work in the field of environment and climate policy, environmental or energy agencies as well as NGOs were checked. Horizon 2020 projects were looked at as well. At EU level, the most important source for identifying relevant evaluations was the European Commission, notably the evaluation calendar of the Commission.  In addition, websites of relevant Directorate-Generals have been screened separately (such as DG Climate Action, DG Environment, DG Mare or DG Energy). Furthermore, other European or international institutions were included in this search such as the OECD, the European Court of Auditors and other EU institutions (European Parliament, European Committee of the Regions and European Economic and Social Committee). This initial scanning of relevant websites was accompanied by a targeted Google search. Some key words that were used for this Google search include: ‘policy’, ‘evaluation’, ‘ex-post’, ‘ex-ante’, ‘mid-term’, ‘progress evaluation’, ‘cost-benefit analysis’ in combination with ‘environment’, ‘climate’, ‘Ministry’, ‘assessment’, ‘impact’, ‘water’, ‘waste’, etc. 
        br
        span In total, more than 2 000 documents were identified as potential policy evaluations. Each of these documents went through a filtering exercise to distinguish which would be included in the catalogue. The basis of selection was a set of criteria:
        ul(class="methodology_list1")
          li The document consists of an evaluation of a specific (or set of) policy measure(s) or regulation(s):
            ul(class="methodology_list2")
              li ‘<strong>Policy</strong>’ has been defined as a law, regulation, procedure, administrative action, incentive, programme or strategy, implemented (or planned) by governments or institutions;
              li ‘<strong>Policy evaluation</strong>’ has been defined as the exercise of evaluating the quality, benefits, worth and utility of a given policy, using various research methods and evaluation practices. This is achieved by investigating the content, outcome, implementation or impact of a policy;
              li Consequently, for the purpose of this catalogue, all literature that was included in the list of policy evaluations had to include both an ‘evaluation’ and a ‘policy’ element. Evaluations that looked at multiple policies or regulations were also taken into account in the analysis;
              li Impact assessments of specific projects, typically infrastructure (e.g. roads) were excluded.
        li The date of publication is after 2002, unless the evaluation looks at less ‘traditional’ policies (i.e. energy and climate) that could provide a wider coverage of policy areas;
        li The evaluation targets policies that have a focus on the climate and/or the environment;
        li The geographic scope: EU, EEA or selected countries, ‘best-practice’ countries (i.e. the most active evaluators);
        li The document is (publicly) available.
        span The catalogue was established in 2018 under the EEA Framework contract (Specific contract No 3413/B2018/EEA.57336, implementing Framework service contract No EEA/IEA/14/006). The number of ‘selected’ policy evaluations that comply with the criteria was 495. The list of ‘reserve’ evaluations that did not fully comply with the criteria (but could be of interest for future research), came to 366. Along with the creation of the catalogue in 2018, a meta-assessment of the catalogue was performed , as well as practical recommendations for the maintenance of the catalogue.<sup>1,2</sup>
        br
        span In 2020 the catalogue was updated under the EEA Framework contract (Specific contract No 3413/B2020/EEA.58177, implementing Framework service contract No EEA/ACC/18/001/LOT2). The same methodology was used to achieve consistency in the type and quality of data between the evaluations. The number of ‘selected’ new policy evaluations was 101 and the ‘reserved ‘ list consisted of 53 new evaluations.
        br
        span A meta-assessment of the full catalogue and further recommendations are available in the report (Ramboll, 2020): Update of the EEA catalogue of available evaluations of European environment and climate policies. Specific Contract under Framework Contract No EEA/ACC/18/001/LOT2, to be downloaded here (URL to be added).
        br
        span The policy evaluations included in the database have been documented according to a series of features, in order to obtain an overview of policy evaluation practices. The main categories of features include:
        ul(class="methodology_list3")
          li Basic information on the evaluation such as title, evaluated policy, publication year;
          li Policy areas and economic sectors that are covered by the evaluated policy;
          li Information on the geographic and timely scope of the evaluation;
          li Information on authors and commissioners of the evaluation;
          li Evaluation criteria used in the evaluation;
          li Evaluation methods and techniques applied in the evaluation
          li Data used in the evaluations and results of the evaluation
        span The data is entered through open fields and choice of dropdown menus, which contains predefined categories for certain variables. The data shown in the catalogue can be filtered by different parameters using the right-hand drop-down options. The catalogue can be downloaded as a CSV file via the button located below the database.
        br
        br
        span(class="methodology_bibliography")
          <sup>1</sup> Rob Williams; Irati Artola (Trinomics, 2018): Assessment of the catalogue of European environment and climate policy evaluations. Specific Contract under Framework Contract No EEA/IEA/14/006 (unpublished).
        br
        span(class="methodology_bibliography")
          <sup>2</sup> Rob Williams; Irati Artola (Trinomics, 2018): Recommendations on the maintenance of the catalogue of European environment and climate policy evaluations Specific Contract under Framework. Contract No EEA/IEA/14/006 (unpublished).
