block title
    title!= external_config.title + " — " + head_title

block extrajavascripts
    if (js_resources.index_page)
        if renderJs && !debug_mode
            != renderJs('index_page')
        else
            each script in js_resources.index_page
                script(type='text/javascript', src=script)

block extrastyles
    if (css_resources.index_page)
        if renderStyles && !debug_mode
            - var css_render = renderStyles('index_page')
            - var only_css = css_render.match(/href\='([^\s]*)'\s/)[1]
            link(rel="preload" href="#{only_css}" as="style" onload="this.rel='stylesheet'" onerror="this.rel='stylesheet'")
            <noscript><link rel="stylesheet" href="#{only_css}" /></noscript>
        else
            each style in css_resources.index_page
                link(rel='stylesheet', href=style)

block content
    div(class="page-header")
        - var ctitle = external_config.title;
        - var cbody = '<p class="car-tagline">On this page you find all EEA content that is exclusively about ' + external_config.title + '. Other products which contain information on ' + external_config.title + ', among others, may be found through our <a href=\'http://search.apps.eea.europa.eu/\'>global search</a>.</p>' + external_config.body;
        div(class='section-title')
            if external_config.flag_url
                img(class='section-img' src!=external_config.flag_url)
            h1(class='section-header')!=ctitle

        div(class='section-languages')
            each language in external_config.languages
                if typeof(language) == 'object'
                    a(class='eea_btn eea-tileTypeHead' href='https://www.eea.europa.eu/' + language[1]) EEA content in #{language[0]}

        div(class="section-description")!=cbody

        div(class='section-pages')
            if external_config.external_links.length
                h5(class="section-header section-pages-header") OFFICIAL COUNTRY PAGES
                ul(class='eea-no-list-style')
                    each val in external_config.external_links
                        li
                            - var values = val.split('|');
                            - var title = values[0];
                            - var link = values.length > 1 ? values[1] : values[0];
                            - var link = (link.search(/^http[s]?:\/\//) == -1) ? 'http://' + link : link;
                            a(href=link)=title

        div(class='section-topics')
            include /code/config/CaR/views/facet.jade


    div(class="page-body")
        +download_data
        .facet-view-simple
        div!= further_info

