include ./mixins.jade
doctype html
html
    head
        block title

        meta(charset='utf-8')
        meta(name="viewport" content="width=device-width, initial-scale=1")

        //script(type='text/javascript', src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js")
        //script(type='text/javascript', src="/portal_javascripts/Sunburst%20Theme/++resource++plone.app.jquery.js")
        //script(type='text/javascript', src="/frontpage/cca/++theme++climateadapt/static/bootstrap.min.js")
        //script(type='text/javascript', src="/frontpage/cca/++theme++climateadapt/static/bs3/js/bootstrap.min.js")
        //script(type='text/javascript', src="/portal_javascripts/Sunburst%20Theme/++resource++collective.js.bootstrap/js/bootstrap.min.js")

        include ../../../../external_templates/head.html

        script(type='text/javascript').
            var field_base="#{field_base}";
        script
            != settings_search_sortby
        script
            != settings_sort
        script
            != settings_display_options
        script
            != settings_default_display
        script
            != settings_display_images
        script
            != settings_landingpage_enabled
        script
            != settings_suggestions_enabled
        script
            != settings_es_debug_enabled
        script
            != settings_selected_navigation_tab
        script
            != settings_relevance_enabled
        script
            != settings_relevance
        script
            != settings_external_configs
        script
            != settings_default_external_configs
        script
            != mapping

        link(rel="shortcut icon", type="image/x-icon", href="https://www.eea.europa.eu/favicon.ico")

        - var debug_mode = skip_resources_bundling || false

        if !skip_external_template_styles
            != templateRender(headFile)
        else
            if !debug_mode
                style
                    include:uglify-css ../public/css/critical.css
            else
                link(rel='stylesheet', href="esbootstrap_resources/css/critical.css")
            link(rel="preload" href="https://www.eea.europa.eu/external_templates_custom.css" as="style" onload="this.rel='stylesheet'" onerror="this.rel='stylesheet'")
            <noscript><link rel="stylesheet" href="https://www.eea.europa.eu/external_templates_custom.css" /></noscript>

        if (renderStyles && !debug_mode)
            script
                include:uglify-js ../public/javascripts/loadcss.js
            - var css_render = renderStyles('layout_page')
            - var only_css = css_render.match(/href\='([^\s]*)'\s/)[1]
            link(rel="preload" href="#{only_css}" as="style" onload="this.rel='stylesheet'" onerror="this.rel='stylesheet'")
            <noscript><link rel="stylesheet" href="#{only_css}" /></noscript>
        else
            if css_resources.layout_page
                each style in css_resources.layout_page
                    link(rel='stylesheet', href=style)

        block extrastyles

        //link(rel='stylesheet', href="/frontpage/cca/++theme++climateadaptv2/static/style-search.css")
        link(rel='stylesheet', href="/++theme++climateadaptv2/static/css/compiled-css.css")

    div(class="#{app_id} search-app fullwidth")
        include ../../../../external_templates/header.html

        if (enableBreadcrumbs)
            +portal_breadcrumbs (breadcrumbs)

        div(id="portal-columns-app")
            div(class="container")
                div(class="content" id="content")
                    block content
                    div(class="visualization-date")
                        span(class="discreet")
                            - var container_info = getContainerInfo()
                            | Application data last refreshed <strong>#{getIndexCreationDate()}</strong>.
                            | Version info <strong>#{container_info.version_info}</strong> and tag version <strong>#{container_info.tag_info}</strong> on <strong>#{container_info.hostname}</strong>.
                    div(class="documentActions")
                        h5(class="hiddenStructure") Document Actions
                div(id="right-column", class="right-column-area")
                    div(class="visualPadding")
                div(class="visualClear")
        div(id="landing")
            block landing

        input(id="card_view_template", type="hidden", value="#{cardViewTemplate}")

        input(id="list_view_template", type="hidden", value="#{listViewTemplate}")


        if (renderJs && !debug_mode)
            != renderJs('layout_page')
        else
            if js_resources.layout_page
                each script in js_resources.layout_page
                    script(type='text/javascript', src=script)
        block extrajavascripts
        script(type="text/javascript", src="https://www.eea.europa.eu/external_templates_scripts.js")

        if google_map_key != "false"
            script(type="text/javascript", src="https://maps.googleapis.com/maps/api/js?key=#{google_map_key}")



        //include ../../../../external_templates/footer.html


