div(class="tileItem visualIEFloatFix")
    a(title="${title}", href="${url}", class="tileImage")
    div(class="tileContent")
        h2(class="tileHeadline", id="data-centre-overview")
            img(class="image-hide logo" + '${origin_website}' src="search-images/logo-adaptecca.png")
            a(title="${title_text}", class="state-published", href="${url}") ${title}
        span(class="year") ${year}
        p(class="eea-tileUrl") ${typeOfData}
    p(class="tileBody")
        span(class="long_description") ${long_description}
    div(style="padding-bottom:1.0em;", class="visualClear")
