block title
    if (data)
        title= data.longName.value + "IDP-CDI - European Environment Agency"
    else
        title= "Missing Info"

block extrajavascripts
    each script in js_resources.details_page
        script(type='text/javascript', src=script)

block extrastyles
    each style in css_resources.details_page
        link(rel='stylesheet', href=style)

block content
    if (data)
        if (enableBreadcrumbs)
            +portal_breadcrumbs (breadcrumbs, data.longName.value)

        h1= data.longName.value
        +detail_tables (sections, data, "")
    else
        +app_error("Data with ID: ", id)

    +visualization_info (dataprovencance_info_url,dataprovencance_info_text)

    div!= further_info
