block title
    if (data)
        title= "Info for " + data.longName.value
    else
        title= "Missing Info"

block extrajavascripts
    if (js_resources.details_page)
        if renderJs && !debug_mode
            != renderJs('details_page')
        else
            each script in js_resources.details_page
                script(type='text/javascript', src=script)

block extrastyles
    if (css_resources.details_page)
        if renderStyles && !debug_mode
            != renderStyles('details_page')
        else
            each style in css_resources.details_page
                link(rel='stylesheet', href=style)

block content
    if (data)
        +detail_tables (sections, data)
    else
        +app_error("Data with ID: ", id)

    +visualization_info (dataprovencance_info_url,dataprovencance_info_text)

    div(class="i18n" i18n-variable="Further info" i18n-change="html")!= further_info
