div(class="eea-tile")
    a(class="eea-tileInner", title="${title_text}", href="${url}")
        div(class="eea-tileHead")
            div(class="eea-tileThumb", style="background-image: url(${thumbUrl})")
        div(class="eea-tileBody")
            div(class="eea-tileHeadMetadata")
                span(class="eea-tileTypeHead pull-left", title="${type}") ${type}
                span(class="eea-tileType pull-right hidden", title="${type}") ${date}
            p(class="eea-tileUrl") ${url}
            h4(class="eea-tileTitle") ${title}
            div(class="eea-tileDescription") ${description}
            div(class="eea-tileMetadata")
                span(class="eea-tileTopic", title="${topics}") ${topics}
                time(class="eea-tileIssued", datetime="${date}") ${date}
                div(class="eea-tileType", title="${type}", style="background-image: url(${typeIcon})")
                    span(class="eea-tileTypeIcon, eea-tileType-${typeClass}", title="${type}") ${type}

