block title
    title!= head_title

block extrajavascripts
    - var debug_mode = settings_es_debug_enabled.indexOf('false') === -1
    if (js_resources.index_page)
        if renderJs && !debug_mode
            != renderJs('index_page')
        else
            each script in js_resources.index_page
                script(type='text/javascript', src=script)

block extrastyles
    - var debug_mode = settings_es_debug_enabled.indexOf('false') === -1
    if (css_resources.index_page)
        if renderStyles && !debug_mode
            - var css_render = renderStyles('index_page')
            - var only_css = css_render.match(/href\='([^\s]*)'\s/)[1]
            link(rel="preload" href=only_css as="style" onload="this.rel='stylesheet'" onerror="this.rel='stylesheet'")
            <noscript><link rel="stylesheet" href="#{only_css}" /></noscript>
        else
            each style in css_resources.index_page
                link(rel='stylesheet', href=style)

block content
    div(class="page-header")
        h1(class="i18n" i18n-variable="App_Title" i18n-change="html")!= site_title
        +download_data

    if (site_description)
        p!= site_description
    .facet-view-simple

    div(class="i18n" i18n-variable="App_Further_Info" i18n-change="html")!= further_info
