block title
    if (data)
        title= data.RESOURCE_TITLE.value
    else
        title= "Missing Info"

block extrajavascripts
    if renderJs && !debug_mode
        != renderJs('details_page')
    else
        each script in js_resources.details_page
            script(type='text/javascript', src=script)

block extrastyles
    if renderStyles && !debug_mode
        != renderStyles('details_page')
    else
        each style in css_resources.details_page
            link(rel='stylesheet', href=style)

block content
    if (data)
        h2
            != data.RESOURCE_TITLE.value
        a(class="nfi-download-button" target="_blank" href!=data.RESOURCE_LOCATOR_INTERNAL.value type!=data.RESOURCE_LOCATOR_INTERNAL.value)
                    i(class="fa fa-download")
                    span(class="nfi-download-text") Download
                    span(class="file-size") 
                        != data.FILE_SIZE.value
        div(class="search-page")
            div(class="meta-data")
                div(class="text-tab")
                    span(class="format-text" style="margin-left: 0") Publishing year: 
                    span(class="format-type format")
                        != data.YEAR_PUBLISHED.value
                div(class="text-tab")
                    span(class="format-text") Content type: 
                    span(class="format-type format")
                        != data.Content_type.value
                div(class="text-tab")
                    span(class="format-text") Topics: 
                    span(class="format-type")
                        != data.Topics.value
                

        - var clean_data = data
        - var keyword_values = clean_data.KEYWORDS.value.split(",")
        - var keyword_values2 = clean_data.ADDITIONAL_INFO.value.split(",")
        - var clean_keywords = [];
        - for (let i = 0; i < keyword_values.length; i++){if (keyword_values[i] !== ""){ clean_keywords.push(keyword_values[i].trim())}}
        - for (let i = 0; i < keyword_values2.length; i++){if (keyword_values2[i] !== ""){ clean_keywords.push(keyword_values2[i].trim())}}
        - clean_data.KEYWORDS.value = clean_keywords.join(", ")
        - clean_data.ADDITIONAL_INFO.value = ""
        - clean_data.FILE_SIZE.value = ""
        - var sources_values = clean_data.Source.value.split(",")
        - var clean_sources = []
        - for (let i = 0; i < sources_values.length; i++){if (sources_values[i] !== ""){ clean_sources.push(sources_values[i].trim())}}
        - clean_data.Source.value = clean_sources
        div(class="info_container") 
            table(class="item_detail_table datatable")
                tbody
                    tr(class="COUNTRY")
                        th
                            !=clean_data.COUNTRY.label
                        td
                            !=clean_data.COUNTRY.value
                    tr(class="Description")
                        th
                            !=clean_data.Description.label
                        td
                            !=clean_data.Description.value
                    tr(class="Source")
                        th
                            !=clean_data.Source.label
                        td
                            each item in clean_data.Source.value
                                a(target="_blank" href=item)=item
                                br
                    tr(class="Organisation_name")
                        th
                            !=clean_data.Organisation_name.label
                        td
                            !=clean_data.Organisation_name.value
                    tr(class="Organisation_email")
                        th
                            !=clean_data.Organisation_email.label
                        td
                            a(target="_blank" href="mailto:"+clean_data.Organisation_email.value+"")
                                !=clean_data.Organisation_email.value
                    tr(class="NUTS_levels")
                        th
                            !=clean_data.NUTS_levels.label
                        td
                            !=clean_data.NUTS_levels.value
                    tr(class="KEYWORDS")
                        th
                            !=clean_data.KEYWORDS.label
                        td
                            !=clean_data.KEYWORDS.value
    else
        +app_error("Data with ID: ", id)
        
