block title
    title!= head_title

block extrajavascripts
    if renderJs && !debug_mode
        != renderJs('index_page')
    else
        each script in js_resources.index_page
            script(type='text/javascript', src=script)

block extrastyles
    if renderStyles && !debug_mode
        - var css_render = renderStyles('index_page')
        - var only_css = css_render.match(/href\='([^\s]*)'\s/)[1]
        link(rel="preload" href=only_css as="style" onload="this.rel='stylesheet'" onerror="this.rel='stylesheet'")
        <noscript><link rel="stylesheet" href="#{only_css}" /></noscript>
    else
        each style in css_resources.index_page
            link(rel='stylesheet', href=style)

block content
    //h1!= site_title
    +download_data
    <div style="height:10px"></div>
    //p!= site_description
    .facet-view-simple.search-page

    +visualization_info (dataprovencance_info_url,dataprovencance_info_text)

    div!= further_info
    <div id="detailsmodal"></div>
    div(id="intro-popup")
      div(class="popup-backdrop")
      div(class="popup-content")
        a(class="close-popup")
          i(class="fa fa-times")
        div(class="popup-header")
          h1 Getting started with the data catalogue
        div(class="popup-body")
          p The FISE Data Catalogue is designed to make public, official forest information from countries in Europe easy to find, download, use, and share. It includes forest data from the statistic platforms of the respective countries. All datasets are listed when entering the data catalogue page. There are different ways to filter, access and download datasets.
          h2 Filtering
          P To narrow down the relevant data, you can filter from the facets to the right (country, topics, nuts level, publishing year, time coverage, and content type).
          h2 Content types
          p There are three different types of content available in the Data Catalogue: (i) Documentation; (ii) Report; and (iii) Tabular data.
          ul
            li Documentation: includes description of applied methodology, leaflets, glossaries.
            li Reports: includes national reports
            li Tabular data: refers to databases and datasets at the national and sub-national levels.
          h2 Metadata
          p Metadata for each dataset can be found by clicking on the titles. You will find data description, sources with links as well as the the information on the responsible entity and contact information.