block title
    title!= head_title

block extrajavascripts
    if renderJs && !debug_mode
        != renderJs('index_page')
    else
        each script in js_resources.index_page
            script(type='text/javascript', src=script)

block extrastyles
    if renderStyles && !debug_mode
        - var css_render = renderStyles('index_page')
        - var only_css = css_render.match(/href\='([^\s]*)'\s/)[1]
        link(rel="preload" href=only_css as="style" onload="this.rel='stylesheet'" onerror="this.rel='stylesheet'")
        <noscript><link rel="stylesheet" href="#{only_css}" /></noscript>
    else
        each style in css_resources.index_page
            link(rel='stylesheet', href=style)

block content
    //h1!= site_title
    +download_data
    <div style="height:10px"></div>
    //p!= site_description
    .facet-view-simple.search-page

    +visualization_info (dataprovencance_info_url,dataprovencance_info_text)

    div!= further_info
    <div id="detailsmodal"></div>
    div(id="intro-popup")
      div(class="popup-backdrop")
      div(class="popup-content")
        a(class="close-popup")
          i(class="fa fa-times")
        div(class="popup-header")
          h1 Getting started with the data catalogue
        div(class="popup-body")
          p The FISE Data Catalogue gives access to public, official forest information from the statistic platforms of countries in Europe. All datasets are listed when entering the data catalogue page.
          p There are different ways to filter, access and download datasets.
          h2 Filtering
          P To narrow down the relevant data, you can filter from the facets to the right (country, topics, NUTS level, publishing year, time coverage, content type and update frequency).
          h2 Content types
          p There are six different types of content available in the Data Catalogue: (i) Documentation; (ii) Report; (iii) Tabular data; (iv) Spatial dataset; (v) Data services and (vi) Databases.
          ul
            li Documentation: includes description of applied methodology, leaflets, glossaries.
            li Reports: includes national reports
            li Tabular data: refers to databases and datasets at the national and sub-national levels.
            li Spatial dataset: connects to the EEA geospatial data catalogue to access and view maps at pan European, national and subnational levels
            li Data services: refers to thematic maps
            li Databases
          h2 Metadata
          p Metadata for each dataset can be found by clicking on the titles. You will find data description, sources with links as well as the information on the responsible entity and contact information.
          h2 Spatial datasets in the FISE data catalogue
          p
            | Spatial datasets included in the 
            a(href='https://sdi.eea.europa.eu/catalogue/fise/eng/catalog.search#/home') SDI metadata catalogue.
          p The FISE SDI metadata catalogue provides access to the overview of the European geospatial data catalogue used for producing the standalone statistics, charts and map viewers published on FISE platform, as well as other geospatial datasets relevant for forest. The FISE SDI metadata catalogue helps the users to discover and access all forest related datasets by filtering the EEA SDI geospatial data catalogue. Through the metadata, users can access information on the content and quality of the data sets and download the European datasets.
          p All web services of FISE metadata can be explored through the SDI FISE. More functionalities regarding access, viewing and downloading are under development.
          h2 Compliance
          p
            | The metadata available through the catalogue are compliant with the 
            a(href='https://taskman.eionet.europa.eu/projects/public-docs/wiki/Cataloguemetadata_guidelines') EEA metadata profile v2.1. 
            | In that way, the metadata is compliant with ISO 9115:2003 and ISO/TS 19139:2007 standards and INSPIRE Implementing Rules and Technical Guidelines, in particular, the 
            a(href='https://inspire.ec.europa.eu/id/document/tg/metadata-iso19139') Technical Guidance for the implementation of INSPIRE dataset and service metadata version 2.0.1.