div(class="tileItem visualIEFloatFix")
    article(class="block-item")
        a(href="/details?id=${ID}")
            span(class="block-headline details_link" title="${title}") ${title}
        div(class="meta-data")
            div(class="text-tab")
                span(class="format-text" style="margin-left: 0") Publishing year: 
                span(class="format-type") ${published}
            div(class="text-tab")
                span(class="format-text") Content type: 
                span(class="format-type format") ${format}
            div(class="text-tab")
                span(class="format-text") Topics: 
                span(class="format-type") ${topics}
        div(class="block-content")
            div(class="blockBody")
                span(class="description") ${description}
            div(class="nfi-download-area")
                a(class="nfi-download-button" target="_blank" type="${location}" href="${location}")
                    i(class="fa fa-download")
                    span(class="nfi-download-text") Download
                    span(class="file-size") ( ${filesize} )
                    input(class="source-url" name="source" type="hidden" value="${source}")

    div(style="padding-bottom:1.0em;", class="visualClear") 
