block title
    title!= head_title

block extrajavascripts
    if (js_resources.index_page)
        if renderJs && !debug_mode
            != renderJs('index_page')
        else
            each script in js_resources.index_page
                script(type='text/javascript', src=script)

block extrastyles
    if (css_resources.index_page)
        if renderStyles && !debug_mode
            - var css_render = renderStyles('index_page')
            - var only_css = css_render.match(/href\='([^\s]*)'\s/)[1]
            link(rel="preload" href=only_css as="style" onload="this.rel='stylesheet'" onerror="this.rel='stylesheet'")
            <noscript><link rel="stylesheet" href="#{only_css}" /></noscript>
        else
            each style in css_resources.index_page
                link(rel='stylesheet', href=style)

block content
    div(id="slider")

    h1!= site_title
    +download_data
    p!= site_description
    .facet-view-simple.pam

    div(class="visualization-info")
        h3 Data sources
        a(href=dataprovencance_info_url)= dataprovencance_info_text
        span  provided by
        a(href="https://www.eea.europa.eu")  European Environment Agency (EEA)
        h3 Related content
        ul
         li
          a(href="#")= "Briefing - More national climate actions to take place, but how effective are existing measures?"
         li
          a(href="https://www.eionet.europa.eu/etcs/etc-cme/products/etc-cme-reports/etc-cme-report-5-2019-overview-of-reported-national-policies-and-measures-on-climate-change-mitigation-in-europe-in-2019")= "Publication - Overview of reported national policies and measures on climate change mitigation in Europe in 2019"
         li
          a(href="https://www.eea.europa.eu/data-and-maps/data/greenhouse-gas-emission-projections-for-6")= "Data -Member States' greenhouse gas (GHG) emission projections"
         li
          a(href="https://www.eea.europa.eu/themes/climate/national-policies-and-measures/tracking-climate-policies-in-european")= "Briefing - Tracking climate policies in European Union countries"
         li
          a(href="https://www.eea.europa.eu/themes/climate/national-policies-and-measures/using-member-states-information-on")= "Briefing - Using Member States' information on policies and measures to support policymaking: energy efficiency in buildings"
         li
          a(href="https://www.eea.europa.eu/publications/national-policies-and-measures-on-climate-change-mitigation")= "Publication - National policies and measures on climate change mitigation in Europe in 2017"

    div!= further_info
