block title
    title!= head_title

block extrajavascripts
    if (js_resources.index_page)
        if renderJs && !debug_mode
            != renderJs('index_page')
        else
            each script in js_resources.index_page
                script(type='text/javascript', src=script)

block extrastyles
    if (css_resources.index_page)
        if renderStyles && !debug_mode
            - var css_render = renderStyles('index_page')
            - var only_css = css_render.match(/href\='([^\s]*)'\s/)[1]
            link(rel="preload" href=only_css as="style" onload="this.rel='stylesheet'" onerror="this.rel='stylesheet'")
            <noscript><link rel="stylesheet" href="#{only_css}" /></noscript>
        else
            each style in css_resources.index_page
                link(rel='stylesheet', href=style)

block content
    div(id="slider")

    h1!= site_title
    +download_data
    p!= site_description
    .facet-view-simple.pam

    div
        span <a href="/pam_2019.xlsx">Download data</a> in excel format
    div(class="visualization-info")
        h3 Data sources
        span <a href='http://www.eea.europa.eu/data-and-maps/data/climate-change-mitigation-policies-and-measures-1'> Climate change mitigation policies and measures</a> reported by the EU Member States under the EU Greenhouse Gas Monitoring Mechanism Regulation (MMR) 
        <br/>
        span (<a href='https://rod.eionet.europa.eu/obligations/696/deliveries'>https://rod.eionet.europa.eu/obligations/696/deliveries</a>) have been quality checked and adjusted if appropriate by the European Topic Centre Climate Change Mitigation and Energy (ETC/CME).

        <br/>
        <br/>
        div!= further_info
        h3 Related content
        ul
         li
          a(href="https://www.eea.europa.eu/themes/climate/national-policies-and-measures/policies-and-measures")= "EEA thematic page for climate policies and measures"
         li
          a(href="https://www.eea.europa.eu/themes/climate/national-policies-and-measures/more-national-climate-policies-expected")= "Briefing 2019 - More national climate policies expected, but how effective are the existing ones?"
         li
          a(href="https://www.eionet.europa.eu/etcs/etc-cme/products/etc-cme-reports/etc-cme-report-5-2019-overview-of-reported-national-policies-and-measures-on-climate-change-mitigation-in-europe-in-2019")= "Report 2019 - Overview of reported national policies and measures on climate change mitigation in Europe in 2019"
         li
          a(href="https://www.eea.europa.eu/data-and-maps/data/greenhouse-gas-emission-projections-for-6")= "Data 2019 -Member States' greenhouse gas (GHG) emission projections"
         li
          a(href="https://www.eea.europa.eu/themes/climate/national-policies-and-measures/tracking-climate-policies-in-european")= "Briefing 2018 - Tracking climate policies in European Union countries"
         li
          a(href="https://www.eea.europa.eu/themes/climate/national-policies-and-measures/using-member-states-information-on")= "Briefing 2018 - Using Member States' information on policies and measures to support policymaking: energy efficiency in buildings"
         li
          a(href="https://www.eea.europa.eu/publications/national-policies-and-measures-on-climate-change-mitigation")= "Report 2018 - National policies and measures on climate change mitigation in Europe in 2017"

