block title
    title!= head_title

block extrajavascripts
    if (js_resources.index_page)
        if renderJs && !debug_mode
            != renderJs('index_page')
        else
            each script in js_resources.index_page
                script(type='text/javascript', src=script)

block extrastyles
    if (css_resources.index_page)
        if renderStyles && !debug_mode
            - var css_render = renderStyles('index_page')
            - var only_css = css_render.match(/href\='([^\s]*)'\s/)[1]
            link(rel="preload" href=only_css as="style" onload="this.rel='stylesheet'" onerror="this.rel='stylesheet'")
            <noscript><link rel="stylesheet" href="#{only_css}" /></noscript>
        else
            each style in css_resources.index_page
                link(rel='stylesheet', href=style)

block content
    div(id="slider")

    h1!= site_title
    +download_data
    div
        p
            span This database contains a number of policies and measures (PaM) implemented, adopted or planned by European countries to achieve climate change mitigation and energy targets, such as reducing greenhouse gas (GHG) emissions, producing additional renewable energy, or reducing overall energy consumption. These PaMs contribute to meeting the objectives of the integrated national energy and climate plans. They were reported in 2023 by European countries under the&nbsp;
                a(href='https://eur-lex.europa.eu/legal-content/EN/TXT/HTML/?uri=CELEX:32018R1999&from=EN')= "Governance of the Energy Union and Climate Action Regulation"
                |&nbsp;and its two Implementing Regulations&nbsp;
                a(href='https://eur-lex.europa.eu/legal-content/EN/TXT/HTML/?uri=CELEX:32020R1208&from=EN')= "(EU) 2020/1208"
                |&nbsp;and&nbsp;
                a(href='https://eur-lex.europa.eu/legal-content/EN/TXT/HTML/?uri=CELEX:32022R2299&from=EN')= "(EU) 2022/2299"
        p
            span This information is submitted through&nbsp;
                a(href='https://reportnet.europa.eu/public/dataflow/900')= "Reportnet platform"
                |where individual submissions and supporting documents, such as reporting guidelines can be accessed. The EEA compiles, checks the quality, and disseminates officially reported, annually updated, information.
        p(class='no-bottom-margin')
            span The search engine gives access to detailed information for each of the single PaMs (or groups of PaMs). Countries report:
        ul
            li 
                p
                    key characteristics of the PaMs, such as their&nbsp;
                    a(href='https://energy.ec.europa.eu/topics/energy-strategy/energy-union_en#five-dimensions-of-the-energy-union')= "relevant dimension(s) of the Energy Union"
                    |, description, objective, type, status, sectors affected, related Union Policy, entities responsible for their implementation, implementation period, etc;
            li 
                p
                    where available, quantitative information on the expected (ex-ante) and achieved (ex-post) policy effects, such as GHG emissions savings achieved by PaMs (or groups of PaMs), as well as renewable energy produced and energy reductions delivered by energy efficiency;
            li 
                p
                    where available, the projected and realised costs and benefits of the reported individual or groups of PaMs on mitigation of climate change, renewable energy production and energy efficiency.
        p
        p
            span The data can be filtered by different parameters using the right-hand drop-down options. The values can be rearranged, counted by ‘match all’ or ‘match any’ criteria. The entire database or the selection can be downloaded as a CSV file. You'll find the download button below the database.
        p
            span The most recent analysis of the complete dataset on integrated national climate and energy policies and measures is available in the report:&nbsp;
                a(href='https://www.eionet.europa.eu/etcs/etc-cm/products/etc-cm-report-2023-06')= "Overview of reported integrated national climate and energy policies and measures in Europe in 2023"
                |. For more information, check links available below the database as well as the&nbsp;
                a(href='https://climate-energy.eea.europa.eu/topics/policies-and-measures/climate-and-energy-policies-and-measures/data')= "Climate and Energy in the EU platform"
                |&nbsp;and&nbsp;
                a(href='https://www.eea.europa.eu/en/topics/in-depth/climate-change-mitigation-reducing-emissions/how-is-europe-fighting-against-climate-change')= "Policies and measures dedicated subpage"
                |.
    .facet-view-simple.pam

    div(class="visualization-info")
        h3 Data sources
        span The reported and quality checked datafiles on policies and measures from previous reporting, reported under the Governance of the Energy Union and Climate Action Regulation and previously under the EU Greenhouse Gas Monitoring Mechanism Regulation (MMR), are available here: <a href='https://www.eea.europa.eu/data-and-maps/data/climate-change-mitigation-policies-and-measures-1'>EEA Datahub</a>.
        <br/>
        <br/>
        span <a href='https://reportnet.europa.eu/public/dataflow/900'>Deliveries for Integrated national policies and measures</a> have been quality checked and adjusted if appropriate by the <a href="https://www.eionet.europa.eu/etcs/etc-cm">European Topic Centre on Climate Change Mitigation (ETC CM)</a>.
        <br/>
        <br/>
        span To facilitate reporting, the EEA has developed an online reporting questionnaire, ‘Reporting Guidelines Dataflow 9 to 14: Integrated Policies and Measures under Regulation (EU) 2018/1999 on Governance of the Energy Union and Climate Action Implementing Regulation 2020/1208 Annex 24 & Implementing Regulation 2022/2299 Annex 9 to 14’ and other supporting documents, available at: <a href='https://www.eionet.europa.eu/reportnet/docs/govreg/policies-and-measures'>https://www.eionet.europa.eu/reportnet/docs/govreg/policies-and-measures</a>
        <br/>
        <br/>
        div!= further_info
        h3 Related content
        ul
         li
          a(href="https://www.eea.europa.eu/en/topics/in-depth/climate-change-mitigation-reducing-emissions/how-is-europe-fighting-against-climate-change")= "EEA thematic page for climate policies and measures"
         li
          a(href="https://climate-energy.eea.europa.eu/topics/policies-and-measures/climate-and-energy-policies-and-measures/data")= "Climate and Energy in the EU platform"
         li
          a(href="http://poleval-catalogue.apps.eea.europa.eu/")= "EEA catalogue of European environment and climate policy evaluations"
         li
          a(href="https://www.eionet.europa.eu/etcs/etc-cm/products/etc-cm-report-2023-06")= "ETC/CM report: Overview of reported integrated national climate and energy policies and measures in Europe in 2023"
         li
          span ETC/CM report:  Climate change mitigation through policies on waste – intersectoral analysis (link to be provided when the report is published)
         li
          a(href="https://www.eionet.europa.eu/etcs/etc-cme/products/etc-cme-report-5-2021-overview-of-reported-national-greenhouse-gas-policies-and-measures-in-europe-in-2021/view")= "ETC/CME report: Overview of reported national greenhouse gas policies and measures in Europe in 2021"
         li
          a(href="https://www.eionet.europa.eu/etcs/etc-cme/products/etc-cme-report-6-2021-agricultural-climate-mitigation-policies-and-measures-good-practice-challenges-and-future-perspectives/view")= "ETC/CME report: Agricultural climate mitigation policies and measures. Good practice, challenges, and future perspectives"
         li
          a(href="https://www.eea.europa.eu/data-and-maps/data/greenhouse-gas-emission-projections-for-8")= "Data 2021 - Member States' greenhouse gas (GHG) emission projections"
         li
          a(href="https://www.eea.europa.eu/publications/Progress-and-prospects-for-decarbonisation/progress-and-prospects-for-decarbonisation")= "Briefing 2022 - Progress and prospects for decarbonisation in the agriculture sector and beyond"
         li
          a(href="https://www.eea.europa.eu/themes/climate/trends-and-projections-in-europe/national-action-across-all-sectors/national-action-across-all-sectors")= "Briefing 2020 – National action across all sectors needed to reach greenhouse gas Effort Sharing targets"
         li
          a(href="https://www.eea.europa.eu/themes/climate/national-policies-and-measures/more-national-climate-policies-expected")= "Briefing 2019 - More national climate policies expected, but how effective are the existing ones?"
         li
          a(href="https://www.eionet.europa.eu/etcs/etc-cme/products/etc-cme-reports/etc-cme-report-5-2019-overview-of-reported-national-policies-and-measures-on-climate-change-mitigation-in-europe-in-2019")= "Report 2019 - Overview of reported national policies and measures on climate change mitigation in Europe in 2019"
         li
          a(href="https://www.eea.europa.eu/themes/climate/national-policies-and-measures/tracking-climate-policies-in-european")= "Briefing 2018 - Tracking climate policies in European Union countries"
         li
          a(href="https://www.eea.europa.eu/themes/climate/national-policies-and-measures/using-member-states-information-on")= "Briefing 2018 - Using Member States' information on policies and measures to support policymaking: energy efficiency in buildings"
         li
          a(href="https://www.eea.europa.eu/publications/national-policies-and-measures-on-climate-change-mitigation")= "Report 2018 - National policies and measures on climate change mitigation in Europe in 2017"


