block title
    title!= head_title

block extrajavascripts
    if (js_resources.index_page)
        if renderJs && !debug_mode
            != renderJs('index_page')
        else
            each script in js_resources.index_page
                script(type='text/javascript', src=script)

block extrastyles
    if (css_resources.index_page)
        if renderStyles && !debug_mode
            - var css_render = renderStyles('index_page')
            - var only_css = css_render.match(/href\='([^\s]*)'\s/)[1]
            link(rel="preload" href="#{only_css}" as="style" onload="this.rel='stylesheet'" onerror="this.rel='stylesheet'")
            <noscript><link rel="stylesheet" href="#{only_css}" /></noscript>
        else
            each style in css_resources.index_page
                link(rel='stylesheet', href=style)

block content
    div(id="slider")

    h1!= site_title
    +download_data
    p!= site_description
    .facet-view-simple.pam

    div
        span <a href="/pam_2018.xlsx">Download data</a> in excel format
    div(class="visualization-info")
        h3 Data sources
        a(href=dataprovencance_info_url)= dataprovencance_info_text
        br
        a(href="https://www.eea.europa.eu/publications/national-policies-and-measures-on-climate-change-mitigation")= "https://www.eea.europa.eu/publications/national-policies-and-measures-on-climate-change-mitigation"
        br
        a(href="https://www.eea.europa.eu/themes/climate/national-policies-and-measures/tracking-climate-policies-in-european")= "https://www.eea.europa.eu/themes/climate/national-policies-and-measures/tracking-climate-policies-in-european"
        br
        a(href="https://www.eea.europa.eu/themes/climate/national-policies-and-measures/using-member-states-information-on")= "https://www.eea.europa.eu/themes/climate/national-policies-and-measures/using-member-states-information-on"
        br
        span  provided by
        a(href="http://www.eea.europa.eu")  European Environment Agency (EEA)


    div!= further_info
